<ul class="nav">
    <li><button><a href="/animeList">Home</a></button></li>
    <li><button><a href="/animeList/new">New Anime entry</a></button></li>
    <% if (currentUser) { %>
    <li class="greeting">Hello <%= currentUser.username %></li>
    <li>
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log Out" class="logOut"/>
      </form>
    </li>
    <li><button><a href="/animeList/favorites">Favorites</a></button></li>
    <% } else { %>
    <button><li><a href="/users/new">Sign Up</a></li></button>
    <button><li><a href="/sessions/new">Log In</a></li></button>
    <% } %>
  </ul>