img {
    border: solid black 5px;
}

nav {
    text-align: center;
}

header {
    text-align: center;
}

body.index {
    background-image: url(https://cutewallpaper.org/21/ramen-wallpapers/98-Ramen-Wallpapers-on-WallpaperSafari.jpg);
}

body.new {
    background-image: url(https://p1.hiclipart.com/preview/7/243/825/naruto-s-logos-love-kanji-text-illustration-png-clipart.jpg);
}

body.show {
    background-image: url(https://i.pinimg.com/474x/ff/9e/4f/ff9e4f4932ea20ec5febbb114a806e67.jpg);
}

body.edit {
    background-image: url(https://i.pinimg.com/474x/69/20/d8/6920d87d3526fcd517234e576fdd1848.jpg);
}

div.index {
    height: 500px;
    width: 500px;
}

div.show {
    display: inline;
    width: 300px;
    height: 600px;
}

img.index {
    height: 300px;
    width: 300px;
    margin-top: 50px;
    float: right;
    display: inline block
}
img.show {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 600px;
}

input.index {
    color: red;
    background-color: black;
}
input.new {
    color: chartreuse;
    background-color: black;
}

input.edit {
    color: chartreuse;
    background-color: black;
}

input.logOut {
    color: darkorchid;
    background-color: black;
}

form.new {
    color:black;
    text-decoration: underline;
}

input.favorites {
    color:gold;
    background-color: black;
}

h1 {
    color: rgb(209, 32, 20);
    text-align: center;
    background-image: radial-gradient(rgba(255, 0, 0, 0.822), white);
}

button {
    background-color: black;
}

p {
    font-size: larger;
}

ul.nav {
    text-align: right;
    list-style: none;
    background-image: radial-gradient(rgba(0, 0, 0, 0.473), black);
}

li.greeting {
    color: aqua;
    font-size: larger;
}

li {
    display: inline;
    align-content: center;
}

textarea {
    background-image: linear-gradient(rgba(128, 128, 128, 0.226), grey);
    color: black;
    font-size: larger;
}