<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body class="new">
    <%- include ('../partials/nav.ejs') %>

    <h1>~-~ New Anime ~-~</h1>
    <header>
        <%- include ('../partials/header.ejs') %>
    </header>
    <form action="/animeList" method="POST" class="new">
        Title: <input type="text" name="title" placeholder="Title"/>
        Description: <input type="text" name="description" placeholder="brief description"/>
        Image: <input type="text" name="img" placeholder="image tag here"/> <br/>
        Completed: <input type="checkbox" name="completed"/> <br/>
       Plan To Watch: <input type="checkbox" name="planToWatch"/> <br/>
      Rating: <input type="number" name="rating" placeholder="1- 10"/> <br/>
      <input type="submit" name="" value="ADD" class="new"/>
    </form>
</body>
</html>